.todo {
  display: flex;
  flex-direction: column;
}

.todoBlock {
  display: flex;
  align-items: center;
}

.title {
  width: 200px;
  padding: 5px;
  margin: 10px 0;
  border: 2px solid black;
}

.button {
  height: 25px;
}

.button {
  margin-left: 10px;
}
